<section  id="top" class="one dark cover">
    <div class="container">
    	<header>
    		<h2>Editar Aliado</h2>
    	</header>
    	<footer class="footerform">
    		<%= render 'form' %>
    	</footer>
    </div>
</section>